.home{
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  .home-left{
    width: 75%;
    height: 300px;
    padding: 0 20px 20px 20px;
    .home-images{
      display: flex;
      justify-content: space-between;
      .image-loop{
        width: 70%;
        padding-right: 10px;
        box-sizing: border-box;
        img{
          display: block;
          width: 100%;
          height: 260px;
        }
      }
      .image-list{
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        img{
          display:block;
          width: 100%;
          height: 125px;
        }
      }
    }

  }
  .home-right{
    width: 25%;
    .author{
      background: rgba(42,42,42,1);
      color: #fff;
      margin-bottom: 20px;
      padding: 10px;
      h6{
        font-size: 22px;
        color: #89919a;
        font-weight: normal;
      }
      ul li{
        color: #d0d2d4;
        line-height: 30px;
        font-size: 12px;
      }
    }
  }
}